@typeparam TItem
<div class="dropdown is-active">
    <div class="dropdown-trigger">
        <button class="button" data-toggle="dropdown"
            type="button" @onclick="ToggleDropdown"
            aria-haspopup="true" aria-expanded="false">
            @Tip
        </button>
    </div>
    <div class="dropdown-menu">
        <CascadingValue name="Dropdown" Value="@this">
            <div class="dropdown-content @ShowText">
                @ChildContent
            </div>
        </CascadingValue>
    </div>
</div>

@code
{
    [Parameter]
    public RenderFragment InitialTip { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public EventCallback<TItem> OnSelected { get; set; }

    public string ShowText { get => show ? "" : "is-hidden"; }

    private bool show = false;

    private RenderFragment Tip;

    protected override void OnInitialized()
    { 
        this.Tip = InitialTip;
    }

    public async Task HandleSelect(TItem item, RenderFragment<TItem> contentFragment)
    {
        this.Tip = contentFragment.Invoke(item);
        ToggleDropdown();
        StateHasChanged();
        await this.OnSelected.InvokeAsync(item);
    }

    private void ToggleDropdown()
    {
        show = !show;
    } 
}
