@inherits LayoutComponentBase

<!--<div class="menu">
    <NavMenu />
</div>-->

<div class="main">
    <div class="navbar">
            <div class="container">
                <img src="img/99logo.png" width="75" height="250">
            </div>
    </div>

    <div class="columns">
        <div class="column is-one-third">
            <div class="menu has-background-dark"> 
                <NavMenu/>
            </div>
        </div>

        <div class="column">
            <div class="">
                @Body
            </div>
        </div>
    </div>
</div>
