<AuthorizeView>
    <Authorized>
        <UserMenu />
    </Authorized>
    <NotAuthorized>
        <a class="btn btn-outline-light btn-sm" href="/login">
            Sign in with Google
        </a>
    </NotAuthorized>
</AuthorizeView>
