<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
        <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
            Home
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="/games/new">
            New Game
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="/games">
            History
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="/stats">
            Leaderboard
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="/venues">
            Venues
        </NavLink>
    </li>
</ul>
