<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- This is a placeholder. Will upgrade the EnterpriseDatabase to a full SQL Server
         connection in the future. -->
    <add name="EnterpriseDatabase"
         connectionString="metadata=res://*/NinetyNine.csdl|  
                                    res://*/NinetyNine.ssdl|  
                                    res://*/NinetyNine.msl;  
                           provider=System.Data.SqlClient;  
                           provider connection string=  
                               &quot;Data Source=.\sqlexpress;  
                                     Initial Catalog=NinetyNine;  
                                     Integrated Security=True;  
                                     MultipleActiveResultSets=True&quot;"
         providerName="System.Data.EntityClient"/>
    
    <add name="LocalDatabase"
         connectionString="Data Source=NinetyNine.db"
         providerName="System.Data.Sqlite"/>
  </connectionStrings>
</configuration>